/* All */
body {
  background-color: #0e0f0e;
  text-align: center;
}

.btn {
  background-color: #11f2e7;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: #21dbd2;
}

.search-

/* Mobile */
.search-box {
  width: 100%;
  margin: auto;
}


/* Desktop */
@media (min-width: 992px) {
 
  .search-box {
    width: 50%;
  }
  
}