/* All */
body {
  background-color: #0e0f0e;
  text-align: center;
}

*:focus {
  outline: none;
}

.btn {
  background-color: #11f2e7;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.btn:hover {
  background-color: #21dbd2;
}

.search-input {
  border-radius: 5px;
  padding: 10px;
  border: none;
  margin-top: 10px;
}

.videos-list {
  text-align: left;
}

.video-title {
  width: 40%;
  text-align: center;
  vertical-align: top;
  color: white;
  font-weight: bold;
}

/* Mobile */
.search-box {
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
}


/* Desktop */
@media (min-width: 992px) {
 
  .search-box {
    width: 50%;
  }
  
}