body {
  background-color: #080807;
  margin: 20px;
}

span {
  color: white;
}

.stats-box {
  width: 100%;
  text-align: center;
  margin: auto;
}

.box {
  text-align: center;
  margin: auto;
  margin-bottom: 25px;
  background-color: gray;
  border-radius: 20px;
  padding: 20px;
  width: 90%;
  margin-right: 20px;
  margin-left: 20px;
}

@media (min-width: 992px) {
  
  .box {
    width: 100%;
  }
  
  .stats-box {
    width: 50%;
    display: flex;
    text-align: center;
  }
  
}