<!DOCTYPE html>
<html>
  <head>
    <title><%= client.user.username %> - Homepage</title>
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="stats-box">
      <p align="center">
      <div class="box">
        <span id="servers"></span>
      </div>
      <div class="box">
        <span id="channels"></span>
      </div>
      <div class="box">
        <span id="users"></span>
      </div>        
      </p>
    </div>
    
    <script src="script.js"></script>
  </body>
</html>