<!DOCTYPE html>
<html>
  <head>
    <title><%= client.user.username %> - Homepage</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="stats-box">
      <div class="servers">
        <span id="servers"></span>
      </div>
      <div class="channels">
        <span id="channels"></span>
      </div>
      <div class="users">
        <span></span>
      </div>
    </div>
    
    <script>
    setInterval(function() {
      document.getElementById("servers").innerHTML = <%= client.guilds.cache.size %>
    }, 1000)
    
    
    </script>
    
<script>

// Update the count down every 1 second
var x = setInterval(function() {
  
  document.getElementById("channels").innerHTML = <%= client.channels.cache.size %>
  
}, 1000);
</script>    
  </body>
</html>