<!DOCTYPE html>
<html>
  <head>
    <title><%= client.user.username %> - Homepage</title>
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    
    <form method="post">
    <div class="search-box">
      <input class="search-input" name="search" type="text" placeholder="Search video">
      <button class="btn search-btn">Search</button>
    </div>
    </form>    
    
    <div class="videos-list">
    <% videos.map(video => { %>
      <div class="video-item" onclick="/video">
        <img class="video-img" src="<%= video.thumbnails.medium.url %>">
        <span class="video-title"><%= video.title %></span>
        <span classs=""></span>
      </div>
    <% }) %>
    </div>
    
  </body>
</html>